@import "./variables.scss";
@import "./appbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.css-r6z5ec {
  z-index: 100 !important;
}

.slick-track {
  :first-child {
    background-size: contain !important;
    background-position: top !important;
  }

  :nth-child(2) {
    background-size: contain !important;
    background-position: top !important;
  }

  :nth-child(3) {
    background-size: contain !important;
    background-position: top !important;
  }
}

.row {
  --bs-gutter-x: 0 !important;
}

.pagination-footer {
  position: sticky;
  bottom: 14px;
  z-index: 10;
}

.css-19rfsqc{
 height: 590px !important;
}